APP_NAME=orchestrator-service
ENVIRONMENT=local

# URLs base de los microservicios orquestados
SERVICE_A_BASE_URL=http://localhost:8001

# Timeout en segundos para llamadas HTTP a otros microservicios
HTTP_TIMEOUT_SECONDS=10
